@model GuessingGame.Models.ListModel

@{
    ViewBag.Title = "CountDown";
}

<h2>Counting Down</h2>
@Html.ActionLink("Enter Your Number", "Create")

@if (Model.NumberToCount > 0)
{
    <ul>
        @for (int i = Model.NumberToCount; i >= 0; i--)
        {

            <li>@i</li>
        }
    </ul>
}

