@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 style="text-align: center">.NET MVC Practice</h1>
    <p style="text-align: center" class="lead">This is a small web application I am building multiple features into as practice with the .NET MVC architecture.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2 style="text-align: center">Guessing Game</h2>
        <p>
            This is a simple guess-the-number game written using MVC architecture.  The user inputs their name and a number and try to guess what number
            the computer is thinking of.
        </p>
        <p style="text-align: center"><a class="btn btn-default" href="/Game">Try it out! &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2 style="text-align: center">FizzBuzz</h2>
        <p>This is an example of using MVC for a classic fizz-buzz problem.  It currently outputs the FizzBuzz of 100, soon it will be able to work on
            a user input.</p>
        <p style="text-align: center"><a class="btn btn-default" href="/FizzBuzz">Try it out! &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2 style="text-align: center">CountDown</h2>
        <p>This is an application using MVC architecture that takes a user input and counts down to 0 from the number provided.</p>
        <p style="text-align: center"><a class="btn btn-default" href="/List">Try it out! &raquo;</a></p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2 style="text-align: center">MadLib Game</h2>
        <p>
            An MVC application of a madlib game, entering adjectives/nouns/verbs and it outputs a story for your enjoyment.
        </p>
        <p style="text-align: center"><a class="btn btn-default" href="/MadLib">Try it out! &raquo;</a></p>
    </div>
    <div style="display: none" class="col-md-4">
        <h2 style="text-align: center">FizzBuzz</h2>
        <p>
            This is an example of using MVC for a classic fizz-buzz problem.  It currently outputs the FizzBuzz of 100, soon it will be able to work on
            a user input.
        </p>
        <p style="text-align: center"><a class="btn btn-default" href="/FizzBuzz">Try it out! &raquo;</a></p>
    </div>
    <div style="display: none" class="col-md-4">
        <h2 style="text-align: center">CountDown</h2>
        <p>This is an application using MVC architecture that takes a user input and counts down to 0 from the number provided.</p>
        <p style="text-align: center"><a class="btn btn-default" href="/List">Try it out! &raquo;</a></p>
    </div>
</div>