@model IEnumerable<string>

@{
    ViewBag.Title = "FizzBuzz Output";
}

<h2>FizzBuzz Output</h2>
<h3>
    @Html.ActionLink("Full FizzBuzz of your number", "Edit")
</h3>
<h3>
    @Html.ActionLink("FizzBuzz of just a number", "SingleNumber")
</h3>

<ul>
    @foreach (var number in Model)
    {
        <li>@number</li>
    }
</ul>